<!-- Author: Shifat63) -->
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
<div class="container-fluid" style="margin-top: 20px">
    <h1>View Showroom</h1>
    <div class="pannel-group">
        <div class="panel panel-primary">
            <div class="panel-body">
                <table id="showroomDetails" class="table table-hover">
                    <tr>
                        <th>Showroom Name: </th>
                        <td th:text="${showroom.getName()}"></td>
                    </tr>
                    <tr>
                        <th>Address: </th>
                        <td th:text="${showroom.getAddress()}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>